body {
    text-align: center;
    background: #d3d3d3;
    color: rgb(99, 96, 96);
}

h1 {
    font-weight: 1100;
    font-size: 50px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin: 50px auto  0px auto;
    margin-bottom: 0em;
    padding: 1rem;
}

.title-explain {
    margin-top: 0px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    padding-bottom: 4rem;
  
}
image {
    background: white;
}

#img-div {
    background: white;
    padding: 5%
   
}

#image {
    margin: 0 auto ;
    display: block;
    max-width: 100%;
    height: auto;
}

#img-caption {
    margin: 15px 0 5px 0;
}

#tribute-info {
    padding: 3% 20%;
    text-align: center;
}

h2 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    padding-bottom: 10px;
    font-weight: 600;
    
}
ul {
    max-width: 550px;
    margin: 0 auto 50px auto;
    text-align: left;
    line-height: 1.6;
    font-family: Georgia, 'Times New Roman', Times, serif;
  }
  
a {
    color: rgb(180, 20, 73);
}
blockquote {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-style: italic;
    padding: 2% 10%;
    text-align: left;
}

h3 {
    font-family: Georgia, 'Times New Roman', Times, serif;
}
